html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
	font-family: Sora;
	src: url(/asset/Sora-VariableFont_wght.ttf);
}
.container{
	background-color: rgba(229, 229, 229, 0.57);
	overflow: auto;
}
.body{
	background-color: rgba(229, 229, 229, 0.57);
}
.header{
    display: flex;
    justify-content: end;
    background-color: white;
}
.header img{
    width: 263px;
}
.konten{
	padding: 20px;
}
.konten .tulisan h1{
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
	padding: 10px;
	margin-bottom: 20px;
	margin-left: 100px;
    color: #1C418C;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.konten h2{
	font-family: Sora;
    font-style: normal;
    
    font-size: 20px;
	padding: 10px;
	margin-bottom: 10px;
	
    color: #1C418C;
}
.konten a img{
	width: 50px;
	margin-left: 38px;
	margin-bottom: 20px;
}
.konten .diajukan{
	width: 200px;
	height: 125px;
	background: #FFFFFF;
	backdrop-filter: blur(4px);
	padding: 10px;
	margin-right: 20px;
	margin-left: 38px;
	font-family: Sora;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 45px;
	color: #1C418C;
	float: left;
	border: 1px solid black;
    box-sizing: border-box;
}
.konten .diajukan p{
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;

	color: #99CCFF;
}
.konten .ditolak{
	width: 200px;
	height: 125px;
	background: #FFFFFF;
	backdrop-filter: blur(4px);
	padding: 10px;
	margin-right: 20px;
	font-family: Sora;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 45px;
	color: #1C418C;
	float: left;
	border: 1px solid black;
    box-sizing: border-box;
}
.konten .ditolak p{
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;

	color: #99CCFF;
}
.konten .diproses{
	width: 200px;
	height: 125px;
	background: #FFFFFF;
	backdrop-filter: blur(4px);
	padding: 10px;
	margin-right: 20px;
	font-family: Sora;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 45px;
	color: #1C418C;
	float: left;
	border: 1px solid black;
    box-sizing: border-box;
}
.konten .diproses p{
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;

	color: #99CCFF;
}
.konten .selesai{
	width: 200px;
	height: 125px;
	background: #FFFFFF;
	backdrop-filter: blur(4px);
	padding: 10px;
	font-family: Sora;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 45px;
	color: #1C418C;
	float: left;
	border: 1px solid black;
    box-sizing: border-box;
	margin-bottom: 20px;
}
.konten .selesai p{
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;

	color: #99CCFF;
}
.konten .tabel table{
    width: 898px;
    height: 50px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.58);
    box-sizing: border-box;
    padding-top: 50px;
	margin-left: 100px;
}
table tr th{
	font-weight: bold;
    background-color: #E5E5E5;
	font-family: sora;
	padding: 10px;
}
tr, td{
    padding: 15px;
	font-family: sora;
}
td a{
	text-decoration: none;
	text-align: left;
	color: #5A98BF;
}

.menu{
	background-color: #1C418C;
	overflow: hidden;
	float: left;
	height: 100%;
	width: 250px;
}
.menu h1{
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	
	padding-left: 14px;
	padding-top: 18px;

	color: #99CCFF;
}
.menu ul li a{
	
	display: block;
	color: #99CCFF;
	text-align: left;
	padding: 14px 16px;
	padding-top: 30px;
	text-decoration: none;
	font-size: 20px;
}
.menu a:hover{
	color: whitesmoke;
}
.menu a.active{
	color: white;
}

/* clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.cf {
    *zoom: 1;
}

